<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.bicio.daily_maintenance.agent</string>
        <key>UserName</key>
        <string>bicio</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/bicio/.bin/daily_maintenance</string>
            <string>file</string>
        </array>
        <key>StandardOutPath</key>
        <string>/Users/bicio/.bin/logs/logfile.log</string>
        <!-- Set <string>/dev/null</string> for silence it -->
        <key>StandardErrorPath</key>
        <string>/Users/bicio/.bin/logs/logfile.log</string>
        <!-- Run at: load, every 4h and daily at 10am -->
        <key>RunAtLoad</key>
        <true />
        <key>StartInterval</key>
        <integer>14400</integer>
        <key>StartCalendarInterval</key>
        <dict>
            <key>Hour</key>
            <integer>10</integer>
            <key>Minute</key>
            <integer>00</integer>
        </dict>
    </dict>
</plist>